@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  min-height: 100%;
  width: 1280px;
  background: #F2F2F2;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin-top: 0;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}



.navigation {
  display: flex;
  width: 1200px;

}

.navigation-list {
  width: 450px;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 400px;
  margin-left: auto;
  padding: 22px 12px;
}

.navigation-link-button {
  width: 200px;
  border-radius: 4px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  text-decoration: none;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 16px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-search {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-decoration: none;
  padding-left: 20px
}

.navigation-link-favorites {
  background-image: url("../images/header/favorites.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-decoration: none;
  padding-left: 20px
}

.hero {
  color: #000000;
  background-color: #3b6286;
  background-image: url("../images/main/title-stairs.svg"),
    url("../images/main/main-header-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}

.main-index {
  text-align: center;
}

.header-section {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-block {
  width: 1200px;
  height: 261px;
}

.advantages-subtitle {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.block {
  width: 400px;
  height: 385px;
}

.photo-canyon {
  order: -1;
}

.recommendations-list {
  display: flex;
  width: 1200px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.recomendation-footer {
  height: 246px;
}

.search-hotels {
  height: 406px;
}

.subscribe-hotels-inner {
  height: 415px;
  text-align: center;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.footer-social-list {
  display: flex;
}

.item-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.blue-background {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.item-desc {
  font-size: 18px;
  line-height: 21px;
}

.gray-background {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.dark-gray-background {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.subscribe-hotels-header {
  color: #FFFFFF;
}

.subscribe-hotels {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 415px;
  margin: 0 auto;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 0;
}

.inner-title-filter {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog/filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 412px;
}

.inner-header {
  width: 1060px;
  height: 107px;
  margin: 0 auto;
  color: #FFFFFF;
}

.catalog-filter-box {
  width: 151px;
  height: 157px;
}

.catalog-filter {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}

.price-scale {
  width: 288px;
  height: 160px;
}

.filter-button {
  width: 191px;
  height: 104px;
}

.catalog-formats {
  display: flex;
  width: 1060px;
  height: 49px;
  margin: 0 auto;
  justify-content: space-between;

}

.cards-style a {
  text-decoration: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.price {
  font-size: 20px;
  line-height: 24px;
}

.catalog-button-submit {
  background-color: #82B3D3;
}

.catalog-button-reset {
  color: #ffffff;
  background-color: transparent;
}

.catalog-results {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 340px;
  height: 438px;
  margin-bottom: 100px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.pagination-list {
  display: flex;
  margin: 0 auto;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item { 
  padding: 40px 40px;
}

.footer-social-item {
  padding: 10px;
}
